[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
ruff = "*"
pre-commit = "*"
tkeyclient = {file = ".", editable = true}
gitlint = "*"

[docs]
mkdocs = "*"
mkdocstrings = {extras = ["python"], version = "*"}
mkdocs-material = "*"
markdown = "*"
pygments = "*"
