[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
ruff = "*"
pre-commit = "*"
gitlint = "*"
build = "*"
setuptools = "*"
setuptools_scm = "*"
tkeyclient = {file = ".", editable = true}

[docs]
mkdocs = "*"
mkdocstrings = {extras = ["python"], version = "*"}
mkdocs-material = "*"
markdown = "*"
pygments = "*"

[requires]
python_version = "3.12"
